
h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

a {
    color: white;
     text-decoration: none !important;
}

i{
  font-size: 50px;
}

.backgroundLayer {
  background-color: #00aaff;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContent {
  background-color: white;
  margin: auto;
  height: 500px;
  width: 310px;
  box-shadow: 0px 0px 59px 5px rgba(0, 0, 0, 0.58);
  overflow: scroll;
}

.cardHeader {
  height: 100px;
  font-weight: 100;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardTitle {
  margin-left: 3%;
  margin-top: 1%;
}

.cardIcon {
  margin-top: 5%;
  margin-right:4%;
}

.cardData {
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  height: 356px;
}

.cardSwitch {
  height: 35px;
  margin-right: 1px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 63px;
  height:36px;
  margin-right: 6px;
}

.dataSource{
  color: white;
  margin-left: 4px;
}


.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 8px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked+.slider {
  background-color: #f44336;
}

input:focus+.slider {
  box-shadow: 0 0 12px #2196F3;
}

input:checked+.slider:before {

  transform: translateX(22.5px);
}

.slider.round {
  border-radius: 18px;
}

.slider.round:before {
  border-radius: 50%;
}
