h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 3.5vw;
  font-weight: 100;
}

.backgroundLayer {
  background-color: #00aaff;
  height: 100%;
  width: 100%;
  position: absolute;
}

.cardContent {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  -webkit-box-shadow: 0px 0px 59px 5px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 0px 59px 5px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 0px 59px 5px rgba(0, 0, 0, 0.58);
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.cardTitle {
  padding-left: 2.5vw;
  padding-top: 1.5vw;
}

.cardIcon {
  padding-top: 1.5vw;
  padding-right: 2vw;
}

.cardData {
  font-size: 3vw;
  font-weight: 100;
  text-align: center;
  padding: 15%;
}

.cardSwitch {
  padding-bottom: 2.5vw;
  padding-left: 68vw;
}


/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 8vw;
  height: 4vw;
}


/* Hide default HTML checkbox */

.switch input {
  display: none;
}


/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 3vw;
  width: 3vw;
  left: .75vw;
  bottom: .5vw;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #f44336;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(3vw);
  -ms-transform: translateX(3vw);
  transform: translateX(3.5vw);
}


/* Rounded sliders */

.slider.round {
  border-radius: 2vw;
}

.slider.round:before {
  border-radius: 50%;
}
